{{#> base/page}}
{{#*inline "head"}}
<title>{{status-msg}} - {{site_name}}</title>
{{/inline}}
{{#*inline "content"}}
<section>
	<h1>We can't find the page you are looking for.</h1>
	<p>{{status}} - {{status-msg}}</p>
</section>
{{/inline}}
{{/base/page}}
