<label>
	{{ctx.Locale.Tr "repo.issue_labels"}}
	<div class="ui search selection dropdown">
		<input type="hidden" name="issue_labels" value="{{.issueLabels}}">
		<div class="default text">{{ctx.Locale.Tr "repo.issue_labels_helper"}}</div>
		<div class="menu">
			<div class="item" data-value="">{{ctx.Locale.Tr "repo.issue_labels_helper"}}</div>
			{{range .LabelTemplateFiles}}
				<div class="item" data-value="{{.DisplayName}}">{{.DisplayName}}<br><p>({{.Description}})</p></div>
			{{end}}
		</div>
	</div>
</label>

{{$supportedFormatsLength := len .SupportedObjectFormats}}
{{/* Only offer object format selection if there is an actual choice */}}
{{if ge $supportedFormatsLength 2}}
	<label>
		{{ctx.Locale.Tr "repo.object_format"}}
		<div class="ui selection dropdown">
			<input type="hidden" id="object_format_name" name="object_format_name" value="{{.DefaultObjectFormat.Name}}" required>
			<div class="default text">{{.DefaultObjectFormat.Name}}</div>
			<div class="menu">
				{{range .SupportedObjectFormats}}
					<div class="item" data-value="{{.Name}}">{{.Name}}</div>
				{{end}}
			</div>
		</div>
		<span class="help">{{ctx.Locale.Tr "repo.object_format_helper"}}</span>
	</label>
{{else}}
	<input type="hidden" name="object_format_name" value="{{.DefaultObjectFormat.Name}}" required>
{{end}}

<label>
	{{ctx.Locale.Tr "repo.default_branch"}}
	<input name="default_branch" value="{{.default_branch}}" placeholder="{{.default_branch}}">
	<span class="help">{{ctx.Locale.Tr "repo.default_branch_helper"}}</span>
</label>

<label>
	<input name="template" type="checkbox">
	{{ctx.Locale.Tr "repo.template_helper"}}
	<span class="help">{{ctx.Locale.Tr "repo.template_description"}}</span>
</label>
