[submodule "external/leonis"]
	path = external/leonis
	url = https://codeberg.org/xens/leonis.git
[submodule "external/tianguan"]
	path = external/tianguan
	url = https://codeberg.org/xens/tianguan.git
