[submodule "musl"]
	path = external/musl/src
	url = git://git.musl-libc.org/musl
	branch = master
	shallow = true
[submodule "doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
	branch = main
	shallow = true
[submodule "llvm-project"]
	path = external/llvm/src
	url = https://github.com/llvm/llvm-project.git
	branch = main
	shallow = true
