{
	admin unix/{$UDS_DIR_ADMIN:.}/caddy-admin{$UDS_SUFFIX:.sock}

	auto_https off
	http_port 8080
	https_port 8443

	order cache before rewrite
	cache {
		allowed_http_verbs GET POST
		cache_name Caddy
		ttl 10m
		default_cache_control public
	}
	log default {
		exclude http.handlers.cache
	}
	servers unix/{$UDS_DIR:.}/xtexhome{$UDS_SUFFIX:.sock}|0777 {
		name unix-home
		timeouts {
			read_body 1m
			read_header 1m
			write 1h
		}
	}
	servers unix/{$UDS_DIR:.}/xtexblog{$UDS_SUFFIX:.sock}|0777 {
		name unix-blog
		timeouts {
			read_body 15s
			read_header 15s
			write 2m
		}
	}
}

(httpsec) {
	header {
		# Strict-Transport-Security "max-age=31536000"
		Access-Control-Allow-Origin *
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		X-XSS-Protection "1; mode=block"
	}
}

http://:8080 {
	@prod vars {env.PROD} true
	bind unix/{$UDS_DIR:.}/xtexhome{$UDS_SUFFIX:.sock}|0777 tcp/localhost

	root * src
	try_files {path}.html {path} {path}/
	file_server

	redir /blog/* https://blog.xtexx.eu.org/misc/migration-to-home/ permanent

	header Server xtex-home
	import httpsec
	header Content-Security-Policy "
default-src 'self';
base-uri 'self';
frame-ancestors 'none';
form-action 'self';
script-src 'self' 'nonce-tracker';
style-src 'self' 'unsafe-inline' https://unpkg.com;
object-src 'none';
		"

	@templated path */ *.html
	handle @templated {
		templates {
			mime "text/plain" "text/html" "application/xhtml+xml"
		}
		header Content-Type "application/xhtml+xml; utf-8"
	}

	handle_path /stats_ping/* {
		request_header Host healthchecks.projectsegfau.lt
		uri replace /index /ping/d77dbc1b-6f92-4ac4-a5ea-d4972edc7373
		uri replace /about /ping/514a7388-893d-4bdd-993d-208b11109a89
		reverse_proxy https://healthchecks.projectsegfau.lt
	}
}

http://blog.xtexx.eu.org http://xtexblog.exozy.me {
	bind unix/{$UDS_DIR:.}/xtexblog{$UDS_SUFFIX:.sock}|0777

	root * blog
	try_files {path} {path}.html {path}/ =404
	file_server

	header Server xtex-blog
	import httpsec

	handle_errors {
		@404 expression `{err.status_code} == 404`
		handle @404 {
			try_files 404.html
		}
	}

	@code-asset path *.eot *.otf *.woff *.ttf *.css *.js
	handle @code-asset {
		header Cache-Control max-age=1800
	}

	@image-asset path *.svg *.jpg *.jpeg *.gif *.png *.ico *.bmp *.webp
	handle @image-asset {
		header Cache-Control stale-while-revalidate=604800
	}

	@no-cache-asset path *.xml
	handle @no-cache-asset {
		header Cache-Control no-cache
	}
}
