{
	admin unix/run/caddy-admin.sock

	auto_https off
	http_port 8080
	https_port 8443

	order cache before rewrite
	cache {
		allowed_http_verbs GET POST
		cache_name Caddy
		ttl 10m
		default_cache_control public
	}
	log default {
		exclude http.handlers.cache
	}
	servers unix/run/server.sock {
		name unix-home
		timeouts {
			read_body 1m
			read_header 1m
			write 1h
		}
	}
	servers unix/run/blog.sock {
		name unix-blog
		timeouts {
			read_body 15s
			read_header 15s
			write 2m
		}
	}
}

http://:8080 {
	@prod vars {env.PROD} true
	bind unix/run/server.sock tcp/localhost

	root * src
	try_files {path}.html {path} {path}/
	file_server

	redir /blog/* https://blog.xtexx.eu.org/misc/migration-to-home/ permanent

	header Server xtex-home
	header Strict-Transport-Security "max-age=31536000"
	header Access-Control-Allow-Origin *
	header Referrer-Policy no-referrer
	header X-Content-Type-Options nosniff
	header Content-Security-Policy "frame-ancestors 'none'"
	header X-Frame-Options DENY
	header X-XSS-Protection 0

	@templated path */ *.html
	handle @templated {
		templates
	}

	handle /stats_ping {
		request_header Host healthchecks.projectsegfau.lt
		uri replace /stats_ping /ping/1ee24229-a06f-46b5-a521-a13385f00766
		reverse_proxy https://healthchecks.projectsegfau.lt
	}
}

http://blog.xtexx.eu.org {
	bind unix/run/blog.sock

	root * blog
	try_files {path} {path}.html {path}/ =404
	file_server

	header Server xtex-blog
	header Strict-Transport-Security "max-age=15768000; includeSubDomains"
	header Access-Control-Allow-Origin *
	header Referrer-Policy no-referrer, strict-origin-when-cross-origin
	header X-Content-Type-Options nosniff
	header Content-Security-Policy "frame-ancestors 'none'"
	header X-Frame-Options DENY
	header X-XSS-Protection 0

	handle_errors {
		@404 expression `{err.status_code} == 404`
		handle @404 {
			try_files 404.html
		}
	}

	@code-asset path *.eot *.otf *.woff *.ttf *.css *.js
	handle @code-asset {
		header Cache-Control max-age=1800
	}

	@image-asset path *.svg *.jpg *.jpeg *.gif *.png *.ico *.bmp *.webp
	handle @image-asset {
		header Cache-Control stale-while-revalidate=604800
	}

	@no-cache-asset path *.xml
	handle @no-cache-asset {
		header Cache-Control no-cache
	}
}
