.switch {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background: var(--color-menu);
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius);
}

.switch .item {
  color: var(--color-text);
  padding: .5em 1.125em;
  border-radius: var(--border-radius);
  text-wrap: nowrap;
}

.switch .active.item {
  background: var(--color-active);
  outline: 1px solid var(--color-input-border);
}

.switch .item svg {
  vertical-align: sub;
}
