<header role="banner">
	<nav id="nav">
		<p id="nav-logo"><a href="{{site_path}}" target="_self">{{site_name}}</a></p>
		<ul id="nav-user" class="hlist">
			<li><a href="{{site_path}}/login">login</a></li>
			<li><a href="{{site_path}}/register">register</a></li>
		</ul>
	</nav>
</header>
