{% extends "includes/base.html" %}
{% block title %}sysop - spock{% endblock %}
{% block body %}
{%- let current_page = "/sysop" -%}
{% include "sysop/base.html" %}

<form method="post">
	<button formaction="/sysop/trigger-syncers">Trigger syncers</button>
	<button formaction="/sysop/reset-login-lru">Reset login LRU cache</button>
	<button formaction="/sysop/trigger-linter-worker">Trigger linter worker</button>
	<button formaction="/sysop/recheck-all-pages">Re-check all pages</button>
</form>
{% endblock %}