{% extends "includes/base.html" %}
{% block title %}rc syncer - spock{% endblock %}
{% block body %}
{%- let current_page = "/sysop/rcsyncer" -%}
{% include "sysop/base.html" %}

<p>{{ auth.lang("web.sysop.rc-syncer.sync-peroid") }} <span>{{ crate::site::SYNC_RC_PEROID }}s</span></p>

<div class="scroll-table">
	<table>
		<caption>{{ auth.lang("web.sysop.rc-syncer.table.caption").replace("$1", state.len().to_string().as_str()) }}</caption>
		<thead>
			<tr>
				<th scope="col">{{ auth.lang("web.sysop.rc-syncer.table.lang") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.rc-syncer.table.id") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.rc-syncer.table.last_synced_at") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.rc-syncer.table.last_rc_id") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for (lang, state) in state -%}
			<tr>
				<th scope="row">{{ lang }}</th>
				<td>{{ state.id }}</td>
				<td>{{ state.last_synced_at.and_utc().to_rfc3339_opts(chrono::SecondsFormat::Secs, true) }}</td>
				<td>{{ state.last_rc_id }}</td>
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% endblock %}