{% extends "includes/base.html" %}
{% block title %}stats - spock{% endblock %}
{% block body %}
{%- let current_page = "/sysop/stats" -%}
{% include "sysop/base.html" %}

<p>{{ auth.lang("web.sysop.stats.generate-time").replace("$1", stats_time.to_string().as_str()) }}</p>
<p>{{ auth.lang("web.sysop.stats.pages-count").replace("$1", pages_count.to_string().as_str()).replace("$2", need_check_count.to_string().as_str()) }}</p>
<p>{{ auth.lang("web.sysop.stats.issues-count").replace("$1", issues_count.to_string().as_str()) }}</span></p>
<p>{{ auth.lang("web.sysop.stats.users-count").replace("$1", users_count.to_string().as_str()) }}</span></p>

<div class="scroll-table">
	<table>
		<caption>{{ auth.lang("web.sysop.stats.table.caption") }}</caption>
		<thead>
			<tr>
				<th scope="col">{{ auth.lang("web.sysop.stats.table.lang") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.stats.table.pages") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.stats.table.issues") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.stats.table.suggests") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.stats.table.pending") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.stats.table.delayed") }}</th>
				<th scope="col">{{ auth.lang("web.sysop.stats.table.errors") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for lang in langs -%}
			<tr>
				<th scope="row">{{ lang.lang }}</th>
				<td>{{ lang.count }}</td>
				<td>{{ lang.issues }}</td>
				<td>{{ lang.suggests }}</td>
				<td>{{ langs_need_check.get(lang.lang).cloned().unwrap_or(0) }}</td>
				<td>{{ langs_delayed.get(lang.lang).cloned().unwrap_or(0) }}</td>
				<td>{{ langs_error.get(lang.lang).cloned().unwrap_or(0) }}</td>
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% endblock %}