base-url: https://ntfy.xvnet.eu.org
behind-proxy: true
listen-unix: /var/run/ntfy/ntfy.sock

cache-file: /var/cache/ntfy/cache.db
attachment-cache-dir: /var/cache/ntfy/attachments

auth-file: /var/lib/ntfy/auth.db
auth-default-access: read-only

enable-signup: false
enable-login: true
enable-reservations: true
