{{#> base/page}}
{{#*inline "head"}}
<title>Register - {{site_name}}</title>
<link rel="stylesheet" href="{{site_path}}/fec/page/register.css">
{{/inline}}
{{#*inline "content"}}
<div id="register-box">
	<h1>Register</h1>
</div>
{{/inline}}
{{/base/page}}
