(mediawiki) {
	root * /opt/mediawiki
	php_fastcgi unix//var/run/mediawiki/php-fpm.sock {
		env MW_WIKI {args[0]}
	}
	file_server
}

w.xvnet.eu.org w.xvnet0.eu.org http://wiki.xvn {
	import mediawiki "xvnet"
}

meta.w.xvnet.eu.org meta.w.xvnet0.eu.org http://meta.wiki.xvn {
	import mediawiki "meta"
}

uploads.w.xvnet.eu.org uploads.w.xvnet0.eu.org http://uploads.wiki.xvn {
	root * /var/lib/mediawiki
	file_server /images/*
	redir / https://w.xvnet.eu.org/w/uploads.w.xvnet.eu.org permanent
}
