(mediawiki) {
	root * /opt/mediawiki
	file_server
}

w.xvnet.eu.org w.xvnet0.eu.org http://wiki.xvn {
	import mediawiki
	php_fastcgi unix//var/run/mediawiki/php-fpm.sock {
		env MW_WIKI xvnet
	}
}

meta.w.xvnet.eu.org meta.w.xvnet0.eu.org http://meta.wiki.xvn {
	import mediawiki
	php_fastcgi unix//var/run/mediawiki/php-fpm.sock {
		env MW_WIKI meta
	}
}
