<div class="ui parent-issue">
	<span class="text"><strong>{{ctx.Locale.Tr "repo.issues.parent_issue.title"}}</strong></span>
	<br>
	{{if .Issue.ParentIssue}}
		<div class="ui relaxed">
			{{$p := .Issue.ParentIssue}}
			<div class="item parent-issue{{if $p.IsClosed}} is-closed{{end}} tw-flex tw-items-center tw-justify-between">
				<div class="item-left tw-flex tw-justify-center tw-flex-col tw-flex-1 gt-ellipsis">
					<a class="title muted" href="{{$p.Link}}" data-tooltip-content="#{{$p.Index}}{{if .CanReadParentIssue}} {{RenderRefIssueTitle $.Context $p.Title}}{{end}}">
						#{{$p.Index}}{{if .CanReadParentIssue}} {{RenderRefIssueTitle $.Context $p.Title}}{{end}}
					</a>
					{{if not (eq $p.RepoID .Issue.RepoID)}}
						<div class="text small gt-ellipsis" data-tooltip-content="{{$p.Repo.OwnerName}}/{{$p.Repo.Name}}">
							{{$p.Repo.OwnerName}}/{{$p.Repo.Name}}
						</div>
					{{end}}
				</div>
				{{if .CanUpdateParentIssue}}
				<div class="item-right tw-flex tw-items-center tw-m-1">
					<a class="remove-parent-issue-button ci muted" data-tooltip-content="{{ctx.Locale.Tr "repo.issues.parent_issue.remove_info"}}">
						{{svg "octicon-trash" 16}}
					</a>
				</div>
				{{end}}
			</div>
		</div>
	{{else}}
		<p>{{ctx.Locale.Tr "repo.issues.parent_issue.no_parent"}}</p>
		{{if .CanUpdateParentIssue}}
			<div>
				<form method="post" action="{{.Issue.Link}}/parent_issue/add" id="addParentIssueForm">
					{{$.CsrfTokenHtml}}
					<div class="ui fluid action input">
						<div class="ui search selection dropdown" id="new-parent-issue-drop-list" data-issue-id="{{.Issue.ID}}">
							<input name="parentIssue" type="hidden">
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<input type="text" class="search">
							<div class="default text">{{ctx.Locale.Tr "repo.issues.parent_issue.add"}}</div>
						</div>
						<button class="ui icon button">
							{{svg "octicon-plus"}}
						</button>
					</div>
				</form>
			</div>
		{{end}}
	{{end}}
</div>

{{if and .CanUpdateParentIssue (not .Repository.IsArchived)}}
	<input type="hidden" id="subIssuesCrossRepoSearch" value="{{.AllowCrossRepositorySubIssues}}">

	<div class="ui g-modal-confirm modal remove-parent-issue-confirm">
		<div class="header">
			{{svg "octicon-trash"}}
			{{ctx.Locale.Tr "repo.issues.parent_issue.remove_header"}}
		</div>
		<div class="content">
			<form method="post" action="{{.Issue.Link}}/parent_issue/delete" id="removeParentIssueForm">
				{{$.CsrfTokenHtml}}
			</form>
			<p>{{ctx.Locale.Tr "repo.issues.parent_issue.remove_text"}}</p>
		</div>
		{{$ModalButtonCancelText := ctx.Locale.Tr "repo.issues.parent_issue.cancel"}}
		{{$ModalButtonOkText := ctx.Locale.Tr "repo.issues.parent_issue.remove"}}
		{{template "base/modal_actions_confirm" (dict "." . "ModalButtonCancelText" $ModalButtonCancelText "ModalButtonOkText" $ModalButtonOkText)}}
	</div>
{{end}}
