define COMMUNITY_XVN_OPTS                           = [(199304, 0, *)];
define COMMUNITY_XVN_DONT_ACCEPT                    = (199304, 0, 0);

define COMMUNITY_XVN_LOCAL_DIRECTION                = [(199304, 1, 0..2)];
define COMMUNITY_XVN_FROM_PEER                      = (199304, 1, 0);
define COMMUNITY_XVN_FROM_UPSTREAM                  = (199304, 1, 1);
define COMMUNITY_XVN_FROM_DOWNSTREAM                = (199304, 1, 2);