<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>spock dashboard</title>
		<link href="/main.css" rel="stylesheet" />
	</head>
	<body>
		<nav>
			<span id="brand">spock</span>
			<ul>
				<li><a class="nav-link" href="/">meta</a></li>
				<li><a class="nav-link" href="/lint">linter</a></li>
			</ul>
			<span id="login-nav">
				Logged in as <a href="/me">xtex</a> | <a href="LOGOUT">Log out</a>
			</span>
		</nav>
	</body>
</html>
