{% extends "includes/base.html" %}
{% block title %}{{ user.name }} - spock{% endblock %}
{% block body %}
<h1><span>{{ user.name }}</span>
{%- if user.sysop -%}<span class="badge badge-cyan">{{ auth.lang("web.user.bot-sysop") }}</span>{%- endif -%}
{%- if is_blocked -%}<span class="badge badge-red">{%- if is_permanent_block -%}{{ auth.lang("web.user.permanent-blocked") }}{%- else -%}{{ auth.lang("web.user.blocked") }}{%- endif -%}</span>{%- endif -%}
</h1>
<p class="text-secondary">{{ user.id }}</p>

{%- if let Some(until) = user.blocked -%}
<p>{{ auth.lang("web.user.blocked-until").replace("$1", until.and_utc().to_rfc3339_opts(chrono::SecondsFormat::Secs, true).as_str()) }}</p>
{%- endif -%}

<div>
	<form class="inline-form" method="post">
		{% if is_self -%}
		<button formaction="/user/{{ user.id }}/reset_salt" class="button-primary">{{ auth.lang("web.user.reset-token-salt") }}</button>
		{%- endif %}
	</form>
	<form class="inline-form" method="post">
		{% if is_self -%}
		<select name="lang">
			{% for (lang, name) in crate::web::i18n::get_langs() -%}
			<option value="{{ lang }}" {%- if user.language.as_str() == format!("{}", lang) %} selected {%- endif -%}>{{ name }}</option>
			{%- endfor %}
		</select>
		<button formaction="/user/{{ user.id }}/lang">{{ auth.lang("web.user.set-language") }}</button>
		{%- endif %}
	</form>
</div>

{% if let Some(authuser) = auth.0 -%}{% if authuser.sysop -%}
<div>
	<p>{{ auth.lang("web.user.modrinth-id").replace("$1", user.modrinth_id) }}</p>
	<form method="post">
		{% if !user.sysop -%}
		<button formmethod="post" formaction="/user/{{ user.id }}/op">{{ auth.lang("web.user.add-sysop") }}</button>
		{%- endif %}
		{% if user.sysop && !is_self -%}
		<button formmethod="post" formaction="/user/{{ user.id }}/deop" class="button-danger">{{ auth.lang("web.user.remove-sysop") }}</button>
		{%- endif %}
	</form>
	<div>
		<form class="inline-form" method="post">
			<input name="time" type="text" autocomplete="hidden" placeholder="{{ auth.lang("web.user.block-duration") }}" required />
			<button formaction="/user/{{ user.id }}/block">{{ auth.lang("web.user.block") }}</button>
		</form>
		<form class="inline-form" method="post">
			<button formaction="/user/{{ user.id }}/block/permanent">{{ auth.lang("web.user.permanent-block") }}</button>
			{% if user.blocked.is_some() -%}
			<button formaction="/user/{{ user.id }}/unblock">{{ auth.lang("web.user.unblock") }}</button>
			{%- endif %}
		</form>
	</div>
</div>
{%- endif %}{%- endif %}

{% endblock %}