{
	email acme@xvnet.eu.org
	pki {
		ca local {
			name "<% $HOSTNAME %> Caddy Internal CA"
		}
	}
}

.INCLUDE services/caddy/config/securitytxt.caddyfile

https://<% $HOSTNAME %> {
	import securitytxt
	handle {
		redir / https://w.xvnet.eu.org/w/<% $HOSTNAME %>
		redir https://w.xvnet.eu.org/w/<% $HOSTNAME %>{path}
	}
}

% for tpl in $CADDY_INCLUDES; do
% "$LEONIS_MODULES_DIR/template.sh" bash-tpl "$tpl"
% done
