{
	email acme@xvnet.eu.org
}

% for tpl in $CADDY_INCLUDES; do
% "$LEONIS_MODULES_DIR/template.sh" bash-tpl "$tpl"
% done

https://<% $HOSTNAME %> https://<% ${HOSTNAME/xvnet0/xvnet} %> {
	redir / https://w.xvnet.eu.org/w/<% $HOSTNAME %>
	redir https://w.xvnet.eu.org/w/<% $HOSTNAME %>{path}
}
