{
	email acme@xvnet.eu.org
}

% for tpl in "${CADDY_INCLUDES[@]}"; do
% make do-tpl TPL_BACKEND=bash-tpl TPL_IN="$tpl"
% done

ntfy.xvnet.eu.org {
	redir /docs/* https://ntfy.sh{path} permanent
	reverse_proxy unix//var/run/ntfy/ntfy.sock
}
