<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{site_path}}/fec/base.css">
	{{> head }}
	{{#> custom/head }}{{/custom/head}}
	<meta name="description" content="{{lookup (site) "description"}}">
</head>

<body>
	{{> base/navigation }}
	{{> content }}
	{{#> custom/content }}{{/custom/content}}
</body>

</html>
