{# ROA #}
{% from 'macros.roa.conf.j2' import roa_table %}
{{ roa_table('dn42') }}

protocol static dn42_roa_static4 {
    roa4 { table dn42_roa4; };
    route 172.20.206.64/26 max 26 as 4242420361;
};

protocol static dn42_roa_static6 {
    roa6 { table dn42_roa6; };
    route fd00:443a:ef14::/48 max 48 as 4242420361;
};

{# Static Routes #}
protocol static dn42_static4 {
    route 172.20.206.64/26 reject;

    ipv4 { import all; export none; };
};

{# RPKI #}
protocol rpki dn42_rpki_sunnet {
  roa4 { table dn42_roa4; };
  roa6 { table dn42_roa6; };

  remote "rpki.dn42.6700.cc" port 8282;

  retry keep 90;
  refresh keep 1800;
  expire keep 172800;
}

{# Filter #}
function dn42_filter_import() {
    if !is_dn42_prefix() then reject;
    if bgp_path.len > 10 then {
        print "[dn42] BGP path too long ", net, " len ", bgp_path.len, " proto ", proto, bgp_path;
        reject;
    }
    if (check_roa_dn42() != ROA_VALID) then {
        print "[dn42] ROA failed for ", net, " ASN ", bgp_path.last, " proto ", proto;
        reject;
    }
}

function dn42_filter_export() {
    if !is_dn42_prefix() then reject;
    if is_xvnet_internal_prefix() then reject;
    strip_confed_as()
}

filter dn42_import { dn42_filter_import(); accept; }
filter dn42_export { dn42_filter_export(); accept; }

{# Template #}
template bgp dn42_peer {
    local as 4242420361;

    ipv4 {
{% if dn42_ipv4 is defined %}
        import filter dn42_import;
        export filter dn42_export;
        import limit 1000 action block;
        rpki reload on;
        import table on;
        extended next hop on;
{% else %}
        import none;
        export none;
{% endif %}
    };

    ipv6 {
        import filter dn42_import;
        export filter dn42_export;
        import limit 1000 action block; 
        rpki reload on;
        import table on;
    };
}

{% include 'dn42.grc.conf.j2' %}

include "/etc/bird/dn42_peers.conf";
