roa4 table master_roa4;
roa6 table master_roa6;

function do_roa_check() {
    case net.type {
        NET_IP4: return roa_check(master_roa4, net, bgp_path.last);
        NET_IP6: return roa_check(master_roa6, net, bgp_path.last);
        else: print "do_roa_check: unexpected net.type ", net.type, " ", net; return false;
    }
}
