body {
	max-width: 60em;
}

.double-col {
	display: flex;
}

.double-col>* {
	margin-left: 1em;
}

.double-col>:first-child {
	flex: 1;
	border-right: 3px #777 dotted;
}

.double-col>:last-child {
	flex: 1;
}