<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh,en">
	<head>
		{{ import "/includes/head.html" }} {{ template "head" }}
		<title>xtex's Home :: About</title>
		<meta name="description" content="xtex's Home :: About" />
		<meta property="og:title" content="xtex's Home :: About" />
		<link rel="stylesheet" href="/about.css" />
	</head>
	<body>
		<main>
			<header>
				<img src="avatar.webp" alt="xtex's avatar" />
				<div>
					<h1>xtex</h1>
					<p>碳基的，一个人</p>
					<p>A Carbon-Based Humanoid Entity</p>
				</div>
			</header>
			<div class="double-col">
				<div>
					<h2 class="larger-h2">
						简体中文（<code title="Mandarin Chinese (ISO 936-3)"
							>cmn</code
						>）
					</h2>
					{{ include "doc/about-cmn.html" }}
				</div>
				<div>
					<h2 class="larger-h2">
						English (<code title="English (ISO 936-3)">eng</code>)
					</h2>
					{{ include "doc/about-eng.html" }}
				</div>
			</div>
			<div>
				<h2 class="larger-h2">Extra Information</h2>
				{{ include "doc/about-ext.html" }}
			</div>
		</main>

		{{ include "includes/simple_footer.html" }} {{- /* Tracker */ -}} {{
		import "includes/tracker.html" }} {{ template "tracker" "about" }}
	</body>
</html>
