<!DOCTYPE html>
<html lang="zh,en">
	<head>
		{{ import "/includes/head.html" }} {{ template "head" }}
		<title>xtex's Home</title>
		<meta name="description" content="xtex's Home" />
		<meta property="og:title" content="xtex's Home" />
		<link rel="stylesheet" href="/index.css" />
	</head>
	<body>
		<main>
			<header>
				<h1>xtex</h1>
				<p>碳基的，一个人</p>
				<p>A Carbon-Based Humanoid Entity</p>
			</header>
			<ul class="hlist">
				<li><a href="/about">关于</a></li>
				<li><a href="/keys">密钥</a></li>
				<li><a href="https://blog.xtexx.eu.org/">博客</a></li>
			</ul>
			<ul class="hlist">
				<li><a href="/about">About</a></li>
				<li><a href="/keys">Keys</a></li>
				<li><a href="https://blog.xtexx.eu.org/">Blog</a></li>
			</ul>
		</main>

		{{ include "includes/simple_footer.html" }}

		{{ import "includes/tracker.html" }} {{ template "tracker" "index" }}
	</body>
</html>
