master: salt.infra.xvnet.eu.org
master_finger: 'b8:0c:42:45:f5:12:5c:e1:8f:0f:33:73:a0:8d:cd:fd:97:f8:a4:a7:83:d0:b6:af:87:b9:93:61:15:78:f7:58'
# ipv6: False
id: {{ salt_id }}

startup_states: 'highstate'