listen_addr = "0.0.0.0:80"
otp_required = true
role = []

[[cert]]
    id = "A1"
    file = "/etc/spica/signer/A1.pem"
[cert.openssl_opt]
    basicConstraints = "CA:FALSE"

#[[role]]
#    id = "test"
#    auth = "test"
#[[role.acl]]
#    certs = [ "G1T1X-XVNSVR" ]
#    max_expire = "14d"

[log]
    url = "https://ntfy.xvnet.eu.org/ca-log"
    token = "{{ pillar["spica"]["log-token"] }}"
